@import "../abstracts/variables";
@import "../abstracts/mixins";

.calendar {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  max-width: 80rem;
  padding: 2% 3%;
  .day {
    @include calendarDoor;
    margin: 20px;
  }
}