@import "../abstracts/variables";

.calendar {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1rem;
  max-width: 70rem;
  justify-content: space-evenly;
  .day {
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: $jk-green;
    font-size: 3rem;
    margin: 20px;
    cursor: pointer;
    box-shadow: $jk-shadow;
    &:hover {
      transform: scale(105%);
    }
  }
}