@import "../abstracts/variables";
@import "../abstracts/mixins";

.calendar {
  flex: 0 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 80rem;
  padding: 2% 3%;
  .day {
    @include flex-center-center;
    width: 8rem;
    height: 8rem;
    box-shadow: $jk-shadow;
    cursor: pointer;
    font-size: 3rem;
    background: $jk-green;
    color: $jk-red--light;
    margin: 2%;
    &:hover {
      transform: $transform-scale;
    }
  }
}