@import "../abstracts/variables";
@import "../abstracts/mixins";

header {
  @include flex-center-center;
  box-shadow: $jk-shadow;
  padding: 0.5rem;
  background: $jk-background--header;
  width: 100%;
  .text-container {
    @include flex-center-center;
    width: 100%;
    max-width: 40rem;
    margin: 0 2rem;
    background: url("../../images/text-bg.svg") no-repeat center center;
    background-size: contain;
  }
}