@include mobile() {
    header {
        padding: 0rem;
    }
    .calendar .day {
        width: 5rem;
        height: 5rem;
        margin: 2%;
    }
    #Matti {
        position: absolute;
        top: 120px;
        left: 20px;
        @include mattiMobileSize;
        &-piilossa {
            left: 0;
            @include mattiMobileSize;
        }
    }
    
    #Teppo {
        position: absolute;
        bottom: 20px;
        right: 10px;
        @include teppoMobileSize;
        &-piilossa {
            bottom: 150px;
            right: 0;
            @include teppoMobileSize;
        }
    }
    .bubble.right {
        top: -20px;
        left: -120px;
    }
}

@include tablet() {
    .calendar .day {
        width: 7rem;
        height: 7rem;
        margin: 2%;
    }
    #Matti {
        position: absolute;
        top: 80px;
        left: 10px;
        @include mattiTabletSize;
        &-piilossa {
            left: 0;
            @include mattiTabletSize;
        }
    }
    
    #Teppo {
        position: absolute;
        bottom: 0;
        right: 0;
        @include teppoTabletSize;
        &-piilossa {
            bottom: 200px;
            right: 0;
            @include teppoTabletSize;
        }
    }
    .bubble.right {
        top: 10px;
    }
}