@import "../abstracts/variables";
@import "../abstracts/mixins";

.backdrop {
  @include flex-center-center;
  position: absolute;
  top: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.video-container {
  @include flex-colum;
  max-width: 800px;
  width: 100%;
  box-shadow: $jk-shadow;
  margin: 1rem;
  video {
    background: rgba(0, 99, 57, 0.32);
  }
  button {
    @include jk-button;
    z-index: 2;
  }
  .controls,
  .button-container {
    @include flex-center-center;
    height: auto;
    padding: 1rem;
  }
  .button-container {
    justify-content: right;
    padding: 0.5rem;
  }
  .controls button:first-child {
    margin-right: 1rem;
  }
}

#Matti {
  position: absolute;
  top: 100px;
  left: 200px;
  img {
    width: 300px
  }
}

#Teppo {
  position: absolute;
  bottom: 200px;
  right: 200px;
  img {
    width: 350px;
  }
}

.mattiteppo {
  @include flex-center-center;
  height: 200px;
  width: 200px;
}

.spinAnimation {
  animation: spin 4s linear infinite;
}

.danceAnimation {
  animation: dance 4s infinite;
}

@keyframes dance {
  25% {
    rotate: 20deg;
  }
  50% {
    rotate: 0deg;
  }
  75% {
    rotate: -20deg
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}