@import "../abstracts/variables";
@import "../abstracts/mixins";

.backdrop {
  @include flex-center-center;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.video-container {
  @include flex-colum;
  max-width: 800px;
  padding: 1rem;
  box-shadow: $jk-shadow;

  button {
    @include jk-button;
    z-index: 1;
  }
  .controls,
  .button-container {
    @include flex-center-center;
    height: auto;
    padding: 1rem;
    background: $jk-green--light;
  }
  .button-container {
    justify-content: right;
    padding: 0.5rem;
  }
  .controls button:first-child {
    margin-right: 1rem;
  }
}

#Matti {
  position: absolute;
  top: 100px;
  left: 200px;
}

#Teppo {
  position: absolute;
  bottom: 200px;
  right: 200px;
}

.mattiteppo {
  @include flex-center-center;
  height: 200px;
  width: 200px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}