@import "variables";

@mixin flex-center-center {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin flex-colum {
  display: flex;
  flex-direction: column;
}

@mixin jk-button {
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  margin: 5px;
  border-radius: 10px;
  box-shadow: $jk-shadow;
  &:hover {
    transform: $transform-scale;
  }

}

@mixin calendarDoor {
  @include flex-center-center;
  flex-wrap: wrap;
  width: 8rem;
  height: 8rem;
  box-shadow: $jk-shadow;
  cursor: pointer;
  font-size: 3rem;
  &:hover {
    transform: $transform-scale;
  }
}