// colors mainly used from store and fetched from figma via figmaAPI
// here listed some colors that are difficult to set on a code (e.g. body-tag)

$white: rgba(255, 255, 255, 1);
$jk-green: rgba(0, 99, 57, 1);
$jk-green--light: rgba(37, 176, 117, 1);
$jk-red--light: rgba(253, 232, 232, 1);

$jk-font-family: 'Germania One', sans-serif;

$jk-shadow: 0px 0px 6px 1px rgba($jk-green, 40%);

$transform-scale: scale(105%);