@import "../abstracts/variables";
@import "../abstracts/media-queries";
@import "../abstracts/mixins";

body {
  background: $jk-background;
  overflow-x: hidden;
  & * {
    font-family: $jk-font-family;
    box-sizing: border-box;
  }
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @include semantic--headings;
  }
}